
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f8f6f2;
  display: flex;
  height: 100vh;
  background-color: #212775;
  overflow: hidden;
}

#sidebar {
  width: 30%;
  /* background-color: #212775 ; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sidebar h2 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  animation: fadeout 1s;
  width: 100%;
  margin-left: 15px;

}

section {
  width: 80%;
  background: white;
  padding: 50px;
  border-radius: 70px 0 0 70px;
  margin-top: 6%;
  animation: fadeleft 2s alternate
    /* height: inherit; */
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  /* grid-template-rows: 1fr 1fr; */
  row-gap: 30px;
}

/* .wrapper div {
        /* height: 200px; */
/* width: 90%; */
/* background-color: white; */
/* border: 1px solid #282c94; */
/* display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
        flex-direction: column; */
/* }  */
.donut-container {
  position: relative;
  width: 250px;
  /* increased size */
  height: 250px;
}

.donut {
  transform: rotate(-90deg);
}

.donut-track {
  fill: none;
  stroke: #3b4d8d;
  stroke-width: 20;
  /* thicker stroke for big circle */
}

.donut-indicator {
  fill: none;
  stroke: #fff;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-dasharray: 628;
  /* 2πr ≈ 2 * 3.14 * 100 = ~628 */
  stroke-dashoffset: 628;
  transition: stroke-dashoffset 0.3s linear;
}

.donut-counter {
  position: absolute;
  top: 50%;
  left: 50%;
  font-style: italic;
  transform: translate(-50%, -50%);
  font-size: 36px;
  /* larger font */
  font-weight: bold;
  color: #a0c4e0;
}

.progress-bar-container {
  width: 100%;
  max-width: 300px;
  /* max width of the progress bar */
  position: relative;
  margin: 20px auto;
}

.barhead {
  color: #fff;
  font-size: 12px;
  font-style: italic;
  padding: 5px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #353d77;
  border-radius: 15px;
  overflow: hidden;
}

.progress-indicator {
  height: 100%;
  width: 0%;
  /* background-color: #00b894 ; */
  border-radius: 15px;
  transition: width 0.3s ease;
}

.color-1 {
  background-color: #f39c12;
  /* teal green */
}

.color-2 {
  background-color: #4b9eaf;
  /* soft red */
}

.color-3 {
  background-color: #00b894;
  /* yellow */
}

.color-4 {
  background-color: #4D96FF;
  /* blue */
}

.progress-counter {
  position: absolute;
  /* top: 10px; */
  left: - 50%;
  font-weight: 100;
  padding: 4px;
  right: 0;
  /* transform: translate(-50%, -50%); */
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.donut-container {
  opacity: 0;
  animation: fadeIn 1500ms forwards;
}

.progress-bar-container {
  animation: fadeout 2s forwards;
}

#sidebar small {
  padding: 3px;
  color: grey;
}

#sidebar button {
  font-weight: 500;

  padding: 8px;
  background-color: #353d77;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

@keyframes fadeout {
  0% {
    /* opacity: 0/3; */
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    /* transform: translateX(30%); */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeleft {
  0% {
    opacity: 0;
    transform: translateX(5%);
  }

  100% {
    opacity: 1;
  }
}

#loan-details {
  width: 90%;
  /* height: 80%; */

  padding: 24px 24px 0 0;
  display: flex;
  flex-direction: column;

  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-right: 2px solid rgb(128, 128, 128, 0.4);
  /* padding-right: 20px; */
  /* width: 80%; */
}

#card-header {

  padding: 8px;
  width: 60%;
  margin: 10px 0;
}

#card-header h3 {
  font-size: 16px;
  padding: 4px 0;
  color: #212775;
}

#card-header h5 {
  color: grey;
  font-weight: 300;
  font-size: 12px;
  padding: 4px 0;
}

#add-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

#loan-details h6 {

  font-size: 12px;
  color: grey;
  font-weight: 700;
}

#loan-details h3 {
  padding: 8px;
  font-size: 16px;
  color: #000;
  /* font-weight: 800; */
}

#loan-details h4 {
  padding: 8px;
  font-size: 16px;
  color: #212775;
  /* font-weight: 800; */
}

#right-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

#detailedinsigts {
  /* display: flex;
  flex-direction: column; */

}

#detailedinsigts h3 {
  padding: 4px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#insights {
  /* width: 70%; */
  /* margin: 24px; */
  /* padding: 12px; */
  display: flex;
  flex-direction: row;
  align-items: start;

}

#insights div {
  margin: 24px 30px;
}

#insights span {
  padding: 6px;
}

#insights h6 {
  padding: 8px 0 4px 0;
  font-size: 14px;
  color: rgb(0, 0, 0, 0.8);
  font-weight: 500;
  /* border-bottom: 1px solid grey; */
}

#insights h5 {
  margin: 3px 0;
  font-size: 18px;
  color: rgb(0, 0, 0);

  font-weight: 600;
}

#myChart {
  margin-top: 5%;
  max-width: 250px;
  max-height: 250px;
}
a{
  all: unset;
}

